<section class="about_us_section">
  <h2 class="about_us_title"><span class="underline">About us</span></h2>
  <div class="about_us_wrapper">
    <div class="about_us_wrapper_text">
      <h3 class="about_us_smaller_title">
        Lorem ipsum dolor sit amet consectetur
      </h3>
      <p class="about_us_text">
        Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida
        dolor in. Elementum netus rhoncus sagittis nunc mi non egestas est.
        Aliquam maecenas in sed vestibulum neque feugiat pulvinar. Volutpat
        auctor a in sem vulputate aliquam tempor sit. Nulla urna felis penatibus
        ut cras sit.
      </p>
    </div>
    <div class="about_us_wrapper_text">
      <h3 class="about_us_smaller_title">
        Lorem ipsum dolor sit amet consectetur
      </h3>
      <p class="about_us_text">
        Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida
        dolor in. Elementum netus rhoncus sagittis nunc mi non egestas est.
        Aliquam maecenas in sed vestibulum neque feugiat pulvinar. Volutpat
        auctor a in sem vulputate aliquam tempor sit. Nulla urna felis penatibus
        ut cras sit.
      </p>
    </div>
  </div>
</section>
