<footer class="footer">
  <div class="footer_wrapper">
    <a class="footer_logo" href="#">
      <img class="footer_logo_img" src="images/dist/logo.webp" alt="Logo" />
    </a>

    <ul class="footer_list">
      <li class="footer_item">
        <a class="footer_link" href="#">Affiliates</a>
      </li>
      <li class="footer_item">
        <a class="footer_link" href="#">Advertisers</a>
      </li>
      <li class="footer_item"><a class="footer_link" href="#">Events</a></li>
      <li class="footer_item"><a class="footer_link" href="#">Blog</a></li>
      <li class="footer_item">
        <a class="footer_link" href="#">Terms Of Use</a>
      </li>
    </ul>

 
      <ul class="footer_socials_list">
        <li class="footer_socials_item">
          <a class="footer_socials_link" href=""><svg style="width: 11px; height:23px;">
            <use href="images/dist/dist.svg#facebook"></use>
          </svg></a>
        </li>
        <li class="footer_socials_item">
          <a class="footer_socials_link linkedin" href=""><svg style="width: 25px; height:25px;">
            <use href="images/dist/dist.svg#linkedin"></use>
          </svg></a>
        </li>
        <li class="footer_socials_item">
          <a class="footer_socials_link" href=""><svg style="width: 22px; height:22px;">
            <use href="images/dist/dist.svg#instagram"></use>
          </svg></a>
        </li>
      </ul>
 

    <p class="footer_contact" href="#">Contact us</p>
    <p class="footer_email">support@markify.com</p>
  </div>
</footer>
