<header class="header_section">
    <div class="header_wrapper">
      <a class="header_logo" href="#">
        <svg style="width: 36px; height: 36px">
          <use href="../images/dist/dist.svg#mainIcon"></use>
        </svg>
        <svg style="width: 102px; height: 14.7px">
          <use href="../images/dist/dist.svg#markify"></use>
        </svg>
      </a>

<nav class="header_nav">
  <ul class="header_nav_list">
    <li class="header_nav_list_item">
      <a class="header_nav_list_item_link" href="#">Affiliates</a>
    </li>
    <li class="header_nav_list_item">
      <a class="header_nav_list_item_link" href="#">Advertisers</a>
    </li>
    <li class="header_nav_list_item"><a class="header_nav_list_item_link" href="#">Events</a></li>
    <li class="header_nav_list_item"><a class="header_nav_list_item_link" href="#">Blog</a></li>
  </ul>
  <button class="header_nav_button" type="button">Sign Up</button>
</nav>


      <input id="toggle" type="checkbox"></input>

      <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>

      <div class="nav">
        <nav class="nav_wrapper">
          <ul>
            <li class="nav_item"><a class="nav_link" href="#">Affiliates</a></li>
            <li class="nav_item"><a class="nav_link" href="#">Advertisers</a></li>
            <li class="nav_item"><a class="nav_link" href="#">Events</a></li>
            <li class="nav_item"><a class="nav_link" href="#">Blog</a></li>
          </ul>
          
            <button class="nav_button_sign_up">Sign Up</button>
        </nav>
 
      </div>

      
   
  </div>
</header>
