<section class="hero_section">
  <div class="hero_section_wrapper">
    <img class="hero_image" src="images/dist/hero-img-mob.webp" />
    <div class="hero_section_text_wrapper">
      <h1 class="hero_title">
        Lorem ipsum dolor sit amet consectetur. Mi cras
        <span class="underline">non non quis.</span>
      </h1>
      <p class="hero_text">
        Lorem ipsum dolor sit amet consectetur. Faucibus nunc et mattis at
        feugiat sagittis volutpat. At netus diam ipsum cras turpis imperdiet
        diam vel consequat. Ultrices in faucibus sodales sed sed. Enim aenean
        dignissim sed a non mollis. Sed ut arcu enim ullamcorper.
      </p>
    </div>
  </div>
  <div class="hero_string_container">
    <div class="hero_string hero_string_orange">
      <div class="scroll">
        <p class="hero_string_text_wrapper">
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
        </p>
      </div>
    </div>
    <div class="hero_string hero_string_violet">
      <div class="scroll">
        <p class="hero_string_text_wrapper">
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
          <span class="hero_string_text hero_string_text_transparent"
            >WE BUY TRAFIC</span
          >
          <span class="hero_string_text">WE BUY TRAFIC</span>
        </p>
      </div>
    </div>
  </div>
</section>
