<section class="partners_section">
    <div class="partners_section_wrapper">
        <div class="partners_section_wrapper_title">
    <h2 class="partners_title">Our <span class="underline">exclusive partners</span></h2>
    <div class="partners_wrapper">
        <img src="images//dist/sync-mob.webp" alt="Sync">
    </div>
<div class="adittional_wrapper">
    <div class="partners_wrapper">
        <img src="images//dist/influence-mob.webp" alt="Influence">
    </div>
    <div class="partners_wrapper">
        <img src="images//dist/coding-mob.webp" alt="Coding">
    </div>
</div>
</div>
    <img class="partners_image" src="images/dist/deal-sec-partners-mob.webp" alt="Deal">
</div>
</section>