<section class="services_section">
  <div class="services_section_wrapper">
    <div class="servies_section_wrapper_info">
  <h2 class="services_title"><span class="underline">Services</span></h2>

  <div class="services_main_wrapper">
  <div class="sevives_wrapper">
    <h4 class="services_wrapper_title">Lorem Ipsum</h4>
    <p class="services_wrapper_text">Lorem</p>
    <p class="services_wrapper_text">Lorem</p>
    <p class="services_wrapper_text">Lorem</p>
    <p class="services_wrapper_text">Lorem</p>
  </div>

    <div class="services_small_wrapper">
      <div class="services_small_wrapper_box">
        <h4 class="services_small_wrapper_box_title">Lorem</h4>

        <div class="services_wrapper_position">
          <p class="services_small_wrapper_box_text">Ipsum</p>
          <p class="services_small_wrapper_box_text">Ipsum</p>
        </div>
      
      </div>
      <div class="services_small_wrapper_box">
        <h4 class="services_small_wrapper_box_title">Lorem</h4>

        <div class="services_wrapper_position">
          <p class="services_small_wrapper_box_text">Ipsum</p>
          <p class="services_small_wrapper_box_text">Ipsum</p>
        </div>

      </div>
    </div>
    </div>
    </div>
    <img
      class="services_image"
      src="images/dist/magnet-services-mob.webp"
      alt="Magnet"
    />
  </div>
</div>
</section>
