:root {
  --main-color: #7f3a6a;
  --secondary-color: #e9a923;
  --white-color: #ffffff;
  --black-color: #313131;
  --text-color: #585858;
  --backgound-color: #f1e9ee;
  --footer-background: #f9f1ee;
}
