:root {
    --main-color: #7F3A6A;
    --secondary-color: #E9A923;
    --white-color: #FFFFFF;
    --black-color: #313131;
    --text-color: #585858;
   --backgound-color: #F1E9EE;
   --footer-background: #F9F1EE;
}