.partners_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.partners_section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 121px;
  }
}

.partners_section_wrapper_title {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.partners_title {
  font-family: Exo;
  font-weight: 700;
  font-size: 24;
  line-height: 1.4;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.partners_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e9ee;
  width: 343px;
  height: 104px;
  border-radius: 10px;
  padding: 28px 0 28px 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
   width: 267px;
  }
}

.adittional_wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.partners_image {
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    width: 461px;
    height: 461px;
  }
}
