.services_section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.services_section_wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.servies_section_wrapper_info {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.services_title {
  font-family: Exo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 40px;
  position: relative;

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.services_main_wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.sevives_wrapper {
  background-color: var(--main-color);
  min-width: 343px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    min-width: 267px;
    height: 278px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services_wrapper_title {
  font-family: Exo;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  padding-top: 16px;
  margin-bottom: 24px;
  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.services_wrapper_text {
  font-family: Open sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  color: var(--white-color);
  padding-bottom: 16px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    padding-bottom: 24px;
  }
}

.services_small_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media screen and (min-width: 376px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.services_small_wrapper_box {
  background-color: var(--secondary-color);
  color: var(--white-color);
  text-align: center;
  min-width: 162px;
  border-radius: 10px;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    min-width: 267px;
    height: 127px;
    margin-bottom: 24px;
  }
}

.services_small_wrapper_box_title {
  font-family: Exo;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  padding-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.services_wrapper_position {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.services_small_wrapper_box_text {
  font-family: Open sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.services_image {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    width: 461px;
    height: 461px;
  }
}
